/*
========================================================================================
    Human genome hg38 configuration
========================================================================================
*/

params {
    genome         = 'hg38'
    star_index     = '/path/to/hg38/star_index'
    gtf            = '/path/to/hg38/gencode.v38.annotation.gtf'
    fasta          = '/path/to/hg38/GRCh38.primary_assembly.genome.fa'
    
    // Genome size for deepTools
    effective_genome_size = 2913022398
    
    // Optional blacklist regions
    blacklist      = '/path/to/hg38/hg38-blacklist.v2.bed'
}