/*
========================================================================================
    Mouse genome mm10 configuration  
========================================================================================
*/

params {
    genome         = 'mm10'
    star_index     = '/path/to/mm10/star_index'
    gtf            = '/path/to/mm10/gencode.vM25.annotation.gtf'
    fasta          = '/path/to/mm10/GRCm38.primary_assembly.genome.fa'
    
    // Genome size for deepTools
    effective_genome_size = 2652783500
    
    // Optional blacklist regions
    blacklist      = '/path/to/mm10/mm10-blacklist.v2.bed'
}