/*
========================================================================================
    Yeast spike-in genome configuration
========================================================================================
*/

params {
    spike_in_genome = 'yeast'
    spike_in_index  = '/path/to/yeast/star_index'
    spike_in_gtf    = '/path/to/yeast/saccharomyces_cerevisiae.gtf'
    spike_in_fasta  = '/path/to/yeast/saccharomyces_cerevisiae.fa'
    spike_in_name   = 'yeast'
    
    // Yeast genome size
    spike_in_genome_size = 12157105
}